<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Portfolio" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/fa62c117c7.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="static/styles.css" />
    <title>Ethan Armstrong</title>
  </head>
  <body class="light" id="top">
    <header class="header center">
      <h3>
        <a href="/" class="link"
          >EA.</a
        >
      </h3>

      <nav class="nav center">
        <button type="button" aria-label="toggle theme" class="btn btn--icon">
          <i aria-hidden="true" id="btn-theme" class="fas fa-moon"></i>
        </button>

        <button
          type="button"
          aria-label="toggle navigation"
          class="btn btn--icon nav__hamburger"
        >
          <i aria-hidden="true" class="fas fa-bars"></i>
        </button>
      </nav>
    </header>

    <main>
      <!-- Title / Links -->
      <div style="margin-bottom: 2em;" class="about center">
        <h1>Recent Posts</h1>
      </div>

      <div style="width: 100%; height: 1.33px; background-color: var(--clr-primary)"></div>
      <!-- Text Block -->
      <div class="about center" style="padding-left: 12%; padding-right:12%; margin-bottom: 3em;">
        <a class="link link--nav" href="/blog/agnostic-iot" style="text-transform: none;"><h3>Carrier Agnostic IoT Devices</h3></a>
        <span style="margin-top: 0.5em;">
        (October 2024)
        </span>
        <p class="project__description">
            In my last blog post, "Optimizing IoT Communications"
            I went over how I optimized Second Sun Labs' Node
            Device To work more effeciently on poor quality LTE
            networks. At the end of the post I mentioned the ...
        </p>
        <a style="margin-top: 4%" href="/blog/agnostic-iot" class="btn btn--outline">Read More</a>
      </div>
      <div style="width: 100%; height: 1.33px; background-color: var(--clr-primary)"></div>


      <div style="width: 100%; height: 1.33px; background-color: var(--clr-primary)"></div>
      <!-- Text Block -->
      <div class="about center" style="padding-left: 12%; padding-right:12%; margin-bottom: 3em;">
        <a class="link link--nav" href="/blog/optimizing-iot" style="text-transform: none;"><h3>Optimizing IoT Communications</h3></a>
        <span style="margin-top: 0.5em;">
        (October 2024)
        </span>
        <p class="project__description">
            As the head of firmware development for Second
            Sun Labs (SSL), part of my responsibilities are
            to design our device communication infrastructure.
            Finding a perfect mix of customization and robustness ...
        </p>
        <a style="margin-top: 4%" href="/blog/optimizing-iot" class="btn btn--outline">Read More</a>
      </div>
      <div style="width: 100%; height: 1.33px; background-color: var(--clr-primary)"></div>

      <div style="width: 100%; height: 1.33px; background-color: var(--clr-primary)"></div>
      <!-- Text Block -->
      <div class="about center" style="padding-left: 12%; padding-right:12%; margin-bottom: 3em;">
        <a class="link link--nav" href="/blog/kalman" style="text-transform: none;"><h3>Creating a Kalman Filter</h3></a>
        <span style="margin-top: 0.5em;">
        (November 2022)
        </span>
        <p class="project__description">
            In order to accurately time the motion of control
            surfaces and their actuators (motors or parachutes)
            on PLOP, or any future rockets / drones we need to
            be able to accurately determine the crafts altitude ...
        </p>
        <a style="margin-top: 4%" href="/blog/kalman" class="btn btn--outline">Read More</a>
      </div>
      <div style="width: 100%; height: 1.33px; background-color: var(--clr-primary)"></div>

      <div class="about center">
        <ul>
            <li class="link link--nav">
                
            </li>
        </ul>
      </div>

    <footer class="footer">
    </footer>

    <div class="scroll-container">
    <div class="scroll-top">
      <a aria-label="Scroll up" href="#top">
        <i aria-hidden="true" class="fas fa-arrow-up"></i>
      </a>
    </div>
    </div>

    <script src="static/script.js"></script>
  </body>
</html>