<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Portfolio" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/fa62c117c7.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="static/styles.css" />
    <title>Ethan Armstrong</title>
  </head>
  <body class="light" id="top">
    <header class="header center">
      <h3>
        <a href="/" class="link"
          >EA.</a
        >
      </h3>

      <nav class="nav center">
        <button type="button" aria-label="toggle theme" class="btn btn--icon">
          <i aria-hidden="true" id="btn-theme" class="fas fa-moon"></i>
        </button>

        <button
          type="button"
          aria-label="toggle navigation"
          class="btn btn--icon nav__hamburger"
        >
          <i aria-hidden="true" class="fas fa-bars"></i>
        </button>
      </nav>
    </header>

    <main>
      <!-- Title / Links -->
      <div class="about center">
        <h1>High Power Rocket</h1>
        <div class="about__contact center">
            <a
              href="https://github.com/explosion33/RocketController"
              aria-label="source code"
              class="link link--icon"
            >
              <i aria-hidden="true" class="fab fa-github"></i>
            </a>
        </div>
      </div>

      <!-- Image Block -->
      <section id="projects" class="section projects">
        <div class="projects__grid">
            <div class="image">
              <img width="500" src="rocket/img/rocket_body.webp">
            </div>
            <div class="image">
              <img width="500" src="rocket/img/avbay.webp">
            </div>
        </div>
      </section>

      <!-- Text Block -->
      <div class="about center">
        <p class="project__description">
         Starting in high school, I began construction of my own class 1 capable high-power rocket.
         In this project I did everything from epoxying the airframe together, to designing avionics
         electronics systems, to rigging parachutes.

         I ended up taking my passion for rocketry and formed a club at my High School, ANARC.
         Over the course of the school-year and summer we built and launched five high power
         rockets.
        </p>
      </div>

      <!-- Image Block -->
      <section id="projects" class="section projects">
        <div class="projects__grid">
            <div class="image">
              <img width="500" src="rocket/img/group.webp">
            </div>
        </div>
      </section>
      

      <!-- Text Block -->
      <div class="about center">
        <p class="project__description">
          Over the course of all my rocket builds, the part I’m most proud of is the avionics
          package and software system. I designed a raspberry pi-based flight computer,
          coupled with sensors, power supply management, and a custom charge ignition board,
          to handle dual deployment.
        </p>
      </div>

      <!-- Image Block -->
      <section id="projects" class="section projects">
        <div class="projects__grid">
            <div class="image">
              <img width="500" src="rocket/img/ignition.gif">
            </div>
            <div class="image">
              <img height="281.667" src="rocket/img/charge.jpg">
            </div>
        </div>
      </section>

    <!-- Image Block -->
      <section id="projects" class="section projects">
        <div class="projects__grid">
            <div class="image">
              <img width="500" src="rocket/img/avbay.png">
            </div>
        </div>
      </section>


      

      <!-- Text Block -->
      <div class="about center">
        <p class="project__description">
          I wrote the software in Rust and compiled it onto the raspberry pi.
          The software utilizes information from a barometer to estimate the
          rocket's current height. Once it detects an apogee it fires the
          igniters via my custom igniter board. My software stack also
          handles remote ignition and data monitoring, an arming sequence
          built with a finite state machine, and overall data logging.

          Overall, this entire project was a complete exercise in all the
          disciplines of engineering. It required aerodynamic and structural
          design, and simulations. 3D modeling and printing. PCB creation.
          And Software engineering.
        </p>
      </div>


    <footer class="footer">
    </footer>

    <div class="scroll-container">
    <div class="scroll-top">
      <a aria-label="Scroll up" href="#top">
        <i aria-hidden="true" class="fas fa-arrow-up"></i>
      </a>
    </div>
    </div>

    <script src="static/script.js"></script>
  </body>
</html>